
<div>
  <h1><%= @project.name %></h1>
  <p><%= @project.description %></p>
  <p><%= @project.end_date %></p>




  <h1>GOAL: $<%= @project.goal %></h1><br>


</div>
  <h2 id="total-amount">Amount raised: $<%= @project.total_amount %></h2>
</div><br>



<div class="reward">
  <%= render 'reward' %>

  <div id="pledge-list">
    <%= render partial: 'pledges' %>
  </div>
</div>

<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>

<!-- <%= link_to 'Edit', edit_project_path(@project) %> | -->
<!-- <%= link_to 'Back to all Projects', projects_path %> -->
