
<div>
  <p><%= @project.name %></p>
  <p><%= @project.description %></p>
  <p><%= @project.end_date %></p>
</div>

<h1>GOAL: $<%= @project.goal %></h1>

<h2 id="total-amount">Amount raised: $<%= @project.total_amount %></h2>


<div class="reward">
  <%= render 'reward' %>

  <div id="pledge-list">
    <%= render partial: 'pledges' %>
  </div>
</div>
