
<div>
  <h1><%= @project.name %></h1>
  <p><%= @project.description %></p>
  <p><%= @project.end_date %></p>
  <h1>GOAL: $<%= @project.goal %></h1><br>

  <h2 id="total-amount">Amount raised: $<%= @project.total_amount %></h2>
</div><br>


<div class="reward">
  <%= render 'reward' %>

  <div id="pledge-list">
    <%= render partial: 'pledges' %>
  </div>
</div>

<div>
  <p>Project Created by You:</p>
    <!-- if current user.backed_project = true display yes -->
    <% if current_user && (current_user.id == @project.user_id) %>
      <p>Yes</p>
    <% else %>
      <p>No </p>
    <% end %>
</div>

<div>
  <p>Project Backed by You:</p>
    <!-- if current user.backed_project = true display yes -->
    <% if current_user && (current_user.backed_projects.include?(@project)) %>


      <p>Yes</p>
    <% else %>
      <p>No </p>
    <% end %>
</div>
