
<div>
  <h1><%= @project.name %></h1>
  <p><%= @project.description %></p>
  <p><%= @project.end_date %></p>
<<<<<<< HEAD


=======
  <h1>GOAL: $<%= @project.goal %></h1><br>
>>>>>>> a4379002895c3b4c8037025943a72578f458e9db

</div>
  <h2 id="total-amount">Amount raised: $<%= @project.total_amount %></h2>
</div><br>


<div class="reward">
  <%= render 'reward' %>

  <div id="pledge-list">
    <%= render partial: 'pledges' %>
  </div>
</div>

<!-- <%= link_to 'Edit', edit_project_path(@project) %> | -->
<!-- <%= link_to 'Back to all Projects', projects_path %> -->
