<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
<<<<<<< HEAD
    <li><%= link_to 'All Projects', projects_path %></li>
    <li><%= link_to 'New Project', new_project_path %></li>
    <li><%= link_to 'All Users', users_path %></li>
    <li><%= link_to 'New User', new_user_path %></li>

    <li><% if current_user %>

        <%= link_to 'My Account', user_path(current_user)  %>
        <% end %>
    </li>


    <li>
      <p class="userinfo">
        <% if current_user %>
          Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
        <% else %>
          <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
        <% end %>
      </p>
    </li>



=======
>>>>>>> b86e244317f0c24da8a4fb024fa61e9e23f42f20

    <!-- <li><%= link_to "Sign Up", new_user_path %></li> -->
    <li class="nav"><%= link_to 'Home', projects_path %></li>
    <li class="nav"><%= link_to 'New Project', new_project_path %></li>
    <li class="nav">
      <% if current_user %> Signed in as <%= current_user.email %>.
        <%= link_to "Log out", session_path("current"), :method => :delete %> </li>
      <% else %>
  <li class="nav"><%= link_to "Log in", new_session_path %> </li>
  <li class="nav"><%= link_to "Sign up", new_user_path %> <% end %> </li>
  <li class="nav"> <a href="mailto:Marty@McFly.com?Subject=Email%20Works" target="_top">Contact Us</a></li>
  </ul>

<p><%= yield %></p>


</body>
</html>
