<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <!-- <li><%= link_to "Sign Up", new_user_path %></li> -->
    <li class="nav"><%= link_to 'Home', projects_path %></li>
    <li class="nav"><%= link_to 'New Project', new_project_path %></li>
    <li class="nav">
      <% if current_user %> Signed in as <%= current_user.email %>.
        <%= link_to "Log out", session_path("current"), :method => :delete %> </li>
      <% else %>
  <li class="nav"><%= link_to "Log in", new_session_path %> </li>
  <li class="nav"><%= link_to "Sign up", new_user_path %> <% end %> </li>

  </ul>

<p><%= yield %></p>

</body>
</html>
